.article-overview {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  margin-bottom: 12rem;

  &__info {
    width: 60%;
  }

  &__headline {
    margin-bottom: 2.4rem;
  }

  &__contents {
    padding-top: 17rem;
    font-size: 3rem;
    list-style: none;
    color: #0041E8;
    text-decoration: underline;
    text-align: right;

    li {
      margin-bottom: 1.4rem;
    }
  }
}